exportPattern("^[^\\.]")

importFrom("stats", "optim", "rbinom")
importFrom("mvtnorm", "rmvnorm")
importFrom("emulator", "corr.matrix")
importFrom("quadform", "quad3.form", "quad.form", "quad.form.inv")
